<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 

    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/board.css}">


    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>


    <title>BoardList</title>
</head>
<body>
    <div class="board write">
        <div class="container">

            <form action="/board/save" method="post" enctype="multipart/form-data">
                <!--글작성 버튼 클릭시 /board/save링크로 이동 -->
                <!-- post의 방법으로 -->
                <!-- /board/save -->

                <div class="inputBox"><h3>UserName : </h3> <input type="text" name="userName"> </div>
                <div class="inputBox"><h3>title : </h3> <input type="text" name="title" required> </div>
                <div class="inputBox"><h3>contents :</h3> <textarea name="contents" cols="30" rows="10"></textarea> </div>
                <div class="inputBox"><h3>file :</h3> <input type="file" name="files" multiple> </div>

                <input type="submit" value="글작성">
            </form>
        </div>
    </div>


</body>
</html>